<!DOCTYPE html>
<html>
  <head></head>
  <body>
      <p>Sie haben eine E-Mail von ihrem Kontaktformular, von
      <%= "#{ @name }, #{ @email }". %></p>
      <p><%= @body %></p>
  </body>
</html>    
